<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Entrainement</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card>

        <ion-item>
            <ion-avatar item-start>
                <img src="../../assets/icon/cardio.ico">
            </ion-avatar>
            <h1>Cardio</h1>
        </ion-item>

        <ion-card-content>
            <p>Wait a minute. Wait a minute, Doc. Uhhh... 30min de course à pied.</p>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small *ngIf="_state.play" (click)="play()">
                    <ion-icon name="play"></ion-icon>
                    <div>Play</div>                    
                </button>
                <button ion-button icon-left clear small *ngIf="_state.pause" (click)="pause()">    
                    <ion-icon name="pause"></ion-icon>
                    <div>Pause</div>
                    </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-left clear small color="danger" *ngIf="_state.started" (click)="stop()">
                    <ion-icon name="square"></ion-icon>
                    <div>Stop</div>
                    </button>
            </ion-col>
            <ion-col align-self-center *ngIf="_state.started">
                <h3>
                    {{_timer.minutes}} : {{_timer.secondes}}
                </h3>
            </ion-col>
        </ion-row>

    </ion-card>

</ion-content>