<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Entrainement</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!--  <ion-list>
        <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
    </ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div> -->

    <ion-card>

        <ion-item>
            <ion-avatar item-start>
                <img src="../../assets/icon/cardio.ico">
            </ion-avatar>
            <h1>Cardio</h1>
        </ion-item>

        <ion-card-content>
            <p>Wait a minute. Wait a minute, Doc. Uhhh... 30min de course à pied.</p>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small *ngIf="_state.play" (click)="play()">
                    <ion-icon name="play"></ion-icon>
                    <div>Play</div>                    
                </button>
                <button ion-button icon-left clear small *ngIf="_state.stop" (click)="pause()">
                    <ion-icon name="pause"></ion-icon>
                    <div>Pause</div>
                    </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-left clear small *ngIf="(_state.stop || _state.pause )" (click)="stop()">
                    <ion-icon name="square"></ion-icon>
                    <div>Stop</div>
                    </button>
            </ion-col>
            <ion-col *ngIf="(_state.stop)">
                <!--                 <ion-item>
 -->
                <h3>
                    <span class="label label-primary">{{_timer.minutes}}</span> :
                    <span class="label label-primary">{{_timer.secondes}}</span>
                </h3>

                <!--                 </ion-item>
 -->
            </ion-col>
        </ion-row>

    </ion-card>

    <!-- <div class="container">
        <div class="text-center">
            <h1>Le chronomètre</h1>
            <hr>
            <h1>
                <span class="label label-primary">{{_timer.minutes}}</span> minutes
                <span class="label label-primary">{{_timer.secondes}}</span> secondes
            </h1>
            <br>
            <p>
                <button class="btn btn-danger btn-lg" *ngIf="_state.backward" (click)="backward()">Effacer</button>
                <button class="btn btn-danger btn-lg" *ngIf="_state.stop" (click)="stop()">Arrêter</button>
                <button class="btn btn-primary btn-lg" *ngIf="_state.play" (click)="play()">{{_btnPlay}}</button>
            </p>
        </div>
    </div> -->

</ion-content>